@import "../style/variables.css";

@font-face {
    font-family: "Circe";
    src: url("../assets/fonts/circe.ttf");
}

@font-face {
    font-family: "Gilam-Bold";
    src: url("../assets/fonts/gilam-bold.ttf");
}

@font-face {
    font-family: "Circe-Bold";
    src: url("../assets/fonts/circe-bold.ttf");
}

body {
    background-color: var(--background-color);
}

.container {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
}

.header {
    margin-top: 37px;
    display: flex;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-wrapper {
    max-width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone {
    font-family: Circe-Bold;
    font-size: 20px;
    color: var(--text-first-color);
}

.phone__second {
    color: var(--shape-one-color);
}

.icon {
    display: flex;
    align-items: center;
}

.call {
    padding-left: 5px;
}

.button {
    padding: 10px 25px 10px 49px;
    font-family: Circe;
    font-size: 18px;
    color: var(--shape-one-color);
    background-color: inherit;
    border: 1px solid var(--shape-one-color);
    cursor: pointer;
    display: flex;
}

.main {
    margin-top: 128px;
}

.description {
    max-width: 1182px;
    color: var(--text-first-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: text;
}

.caption {
    font-family: Gilam-Bold;
    font-size: 50px;
}

.subtitle {
    font-family: Gilam-Bold;
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 127px repeat(2, 468px);
    justify-content: center;
    grid-template-areas:
        "text text text text text text"
        "rectangle_one rectangle_one rectangle_two rectangle_two rectangle_three rectangle_three"
        "rectangle_four rectangle_four rectangle_four rectangle_five rectangle_five rectangle_five";
    padding-top: 41px;
    gap: 27px 30px;
}

.rectangle_first-part {
    font-family: Circe-Bold;
    color: var(--text-first-color);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.excavation {
    background-color: var(--shape-two-color);
    grid-area: rectangle_one;
}

.underground-laying {
    background-color: var(--shape-four-color);
    grid-area: rectangle_two;
}

.canalisation {
    background-color: var(--shape-one-color);
    grid-area: rectangle_three;
}

.fixed-supports {
    background-color: var(--shape-three-color);
    grid-area: rectangle_four;
    
}

.well-device {
    background-color: var(--shape-five-color);
    grid-area: rectangle_five;
}

.middle_text-position {
    width: 380px;
    text-align: center;
}

.grid-second {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 128px);
    gap: 25px;
    grid-template-areas:
        "figure_one figure_one figure_two figure_two figure_three figure_three"
        "figure_one figure_one figure_two figure_two figure_three figure_three"
        "figure_one figure_one figure_two figure_two figure_six figure_six"
        "figure_four figure_four figure_two figure_two figure_six figure_six"
        "figure_four figure_four figure_five figure_five figure_six figure_six"
        "figure_four figure_four figure_five figure_five figure_seven figure_seven"
        "figure_four figure_four figure_five figure_five figure_seven figure_seven";
}

.rectangle_second-part {
    font-family: Circe-Bold;
    color: var(--text-first-color);
    font-size: 20px;
    display: flex;
    padding: 45px;
}

.sludge-machine {
    background-color: var(--shape-six-color);
    grid-area: figure_one;
}

.washing-machine {
    background-color: var(--shape-seven-color);
    grid-area: figure_two;
}

.backhoe-loader {
    background-color: var(--shape-eight-color);
    grid-area: figure_three;
}

.loader {
    background-color: var(--shape-eight-color);
    grid-area: figure_four;
}

.excavator {
    background-color: var(--shape-one-color);
    color: var(--text-second-color);
    grid-area: figure_five;
}

.kamaz {
    background-color: var(--shape-six-color);
    grid-area: figure_six;
}

.rink {
    background-color: var(--shape-nine-color);
    grid-area: figure_seven;
}

.description-second {
    font-family: Gilam-Bold;
    color: var(--text-first-color);
    padding: 161px 0 94px 0;
}

.footer {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    margin-top: 380px;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description-third {
    color: var(--text-first-color);
}

.button-second {
    padding: 10px 40px 10px 40px;
    font-family: Circe;
    font-size: 18px;
    color: var(--shape-one-color);
    background-color: inherit;
    border: 1px solid var(--shape-one-color);
}

.grid-third {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
    padding: 72px 0 200px 0;
}

.rectangle_third-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.euroinvest {
    background-color: var(--shape-two-color);
}

.mavis {
    background-color: var(--shape-four-color);
}

.arsenal {
    background-color: var(--shape-one-color);
}

.arsenal-second {
    background-color: var(--shape-three-color);
}

.setigroup {
    background-color: var(--shape-five-color);
}

.euroinvest-second {
    background-color: var(--shape-two-color);
}