:root {
    --background-color : rgba(23, 23, 23, 1);

    --text-first-color : rgba(255, 255, 255, 1);
    --text-second-color : rgba(0, 0, 0, 1);

    --shape-one-color : rgba(228, 181, 100, 1);
    --shape-two-color : rgba(99, 79, 44, 1);
    --shape-three-color : rgba(99, 90, 74, 1);
    --shape-four-color : rgba(180, 163, 133, 1);
    --shape-five-color : rgba(176, 140, 77, 1);
    --shape-six-color : rgba(14, 14, 14, 1);
    --shape-seven-color : rgba(36, 36, 36, 1);
    --shape-eight-color : rgba(31, 31, 31, 1);
    --shape-nine-color : rgba(10, 9, 9, 1);
}